<footer>
  <div id="footer-container" class="container <%= "centered-footer" unless current_page.include?("stories-show") %>">
    <div class="inner-footer-container">
      <%= ApplicationConfig["COMMUNITY_NAME"] %> - <%= Time.current.year %>&nbsp; 🔥
    </div>
  </div>
</footer>
<%# javascript_include_tag "hello-dev.js", defer: true %>
